<div class="user-details">
  <h1> Featured Projects </h1>
</div>

{% for item in site.data.projects %}
    <div class="user-projects">
      <div class="{% cycle 'images-right', 'images-left' %}">
        <img alt="mountains" src="{{ item.img | prepend: site.baseurl }}" />
      </div>
      <div class="{% cycle 'contents', 'contents-right' %}">
        <h3>{{ item.name }}</h3>
        {% for tech in item.tech %}
          {{ tech }}
        {% endfor %}
        <p>{{ item.desc }}</p>
        <a class="project-link" href="{{item.url}}">Check it out</a>
      </div>
    </div>
{% endfor %}
